body::after {
	position: absolute;
	@apply bg-gradient-bottom;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	overflow: hidden;
}

.main-text {}

.main-text h1 {}

.main-text p {}

.phnoe {}

.phone__head {}

.phone__less-symbol {}

.phone__user-name {}

.phone__sub-text {}

.phone_dots {}

.phone__dot1 {}

.phone__dot2 {}

.phone__dot3 {}

.phone__messenger>* {
	@apply m-2;
}

.phone__left-message {}

.phone__right-message {}

.phone__images-parent {}

/*  */

.phone__colored-btn {}

.phone__colored-circle {}

.phone__messenger {}

.phone__colored-price {}

/*  */

.phone__send-box {
	@apply px-4 py-3;
}

.phone__send-box textarea {}

.phone__send-box span {}

.phone__send-message {}

.phone__send-btn {}