.test-second-css-file{
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  text-align:center;
  background-color:darkgreen;
  padding:0.75rem;
}
